.playlist-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.playlist-list-item {
  list-style: none;
}

.playlist-button {
  font-size: 0.7rem;
  font-weight: 300;
}
