@media screen and (prefers-color-scheme: light) {
  :root {
    --text-0: #121416ff; /** black */
    --text-1: #25292dff; /** outer-space */
    --text-2: #343a40ff; /** onyx */

    --primary-0: #334048ff; /** charcoal */
    --primary-1: #586f7cff; /** steel-blue */
    --primary-2: #94a7b3ff; /** ash-gray */

    --secondary-0: #d7c998ff; /**  ecru */
    --secondary-1: #e2d2b6ff; /** dun */
    --secondary-2: #f0e7d8ff; /** antique-white */

    --background-0: #e2e2e2ff; /** antiflash-white */
    --background-1: #dee2e6ff; /** platinum */
    --background-2: #ffffffff; /** white */

    --accent-0: #7e564eff; /** old-rose */
    --accent-1: #a97c73ff; /** beaver */
    --accent-2: #d0b8b3ff; /** pale-dogwood */
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-0: #121416ff; /** black */
    --background-1: #25292dff; /** outer-space */
    --background-2: #343a40ff; /** onyx */

    --primary-0: #334048ff; /** charcoal */
    --primary-1: #586f7cff; /** steel-blue */
    --primary-2: #94a7b3ff; /** ash-gray */

    --secondary-0: #d7c998ff; /**  ecru */
    --secondary-1: #e2d2b6ff; /** dun */
    --secondary-2: #f0e7d8ff; /** antique-white */

    --text-0: #dee2e6ff; /** platinum */
    --text-1: #e2e2e2ff; /** antiflash-white */
    --text-2: #ffffffff; /** white */

    --accent-0: #7e564eff; /** old-rose */
    --accent-1: #a97c73ff; /** beaver */
    --accent-2: #d0b8b3ff; /** pale-dogwood */
  }
}
