.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.navlink {
  margin: 0.48rem;
  font-size: calc(0.5rem + 1vmin);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: smoothColorCycle 13s ease-in-out infinite,
    opacityCycle 8s ease-in-out infinite;
}

@keyframes smoothColorCycle {
  0%,
  100% {
    color: var(--text-0);
    filter: brightness(0.9);
  }
  50% {
    color: var(--primary-0);
    filter: brightness(1);
  }
}

@keyframes opacityCycle {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.navlinks a:nth-child(1) {
  animation-delay: 1s;
}
.navlinks a:nth-child(2) {
  animation-delay: 3s;
}
.navlinks a:nth-child(3) {
  animation-delay: 5s;
}
.navlinks a:nth-child(4) {
  animation-delay: 7s;
}
.navlinks a:nth-child(5) {
  animation-delay: 2s;
}

@media screen and (min-width: 400px) {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .navlinks {
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navlink {
    margin: 0.48rem;
    font-size: calc(0.6rem + 1.2vmin);
  }
}

@media screen and (min-width: 568px) {
  .navlinks {
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navlinks {
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navlink {
    margin: 0.48rem;
    font-size: calc(0.7rem + 1.3vmin);
  }
}
